@{
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;
}
<!DOCTYPE html>
<html lang="@currentCulture">
<head>
    <title>@this.ViewBag.Title | FutLab IS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&amp;display=swap" />
    <link rel="stylesheet" href="~/Content/Styles/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <ul class="info fa-ul">
            <li include-roles="?" visible="!(this.ViewBag.HideLoginStatus ?? false)">
                <span class="fa-li"><i class="fa fa-sign-in-alt"></i></span>
                <a asp-page="/Login/Index">@UI.Layout_LoginStatus_SignIn</a>
            </li>
            <li include-roles="*" visible="!(this.ViewBag.HideLoginStatus ?? false)">
                <span class="fa-li"><i class="fa fa-user"></i></span>
                <a asp-page="/My/Settings/Index">@this.User.Identity.Name</a>
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-globe"></i></span>
                <a visible="@currentCulture.Equals("en-US")" asp-page="/SetLanguage" asp-route-culture="cs" asp-route-returnUrl="@this.Context.Request.Path">@UI.My_Settings_Index_Language_CS</a>
                <a visible="@currentCulture.Equals("cs-CZ")" asp-page="/SetLanguage" asp-route-culture="en" asp-route-returnUrl="@this.Context.Request.Path">@UI.My_Settings_Index_Language_EN</a>
            </li>
            <li include-roles="*" visible="!(this.ViewBag.HideLoginStatus ?? false)">
                <span class="fa-li"><i class="fa fa-sign-out-alt"></i></span>
                <a asp-page="/Login/Logout">@UI.Layout_LoginStatus_SignOut</a>
            </li>
        </ul>
        <a asp-page="/My/Index"><img src="~/Content/Images/logo.png" alt="FutLab logo" height="75" /></a>
    </header>
    <nav>
        <input type="checkbox" id="mtoggler" hidden="hidden" />
        <label for="mtoggler" class="open" hidden="hidden"><span>&#x2630;</span></label>
        <label for="mtoggler" class="close" hidden="hidden"><span>&#x1F5D9;</span></label>
        <ul>
            <li include-roles="?"><a asp-page="/Login/Index"><i class="fas fa-key"></i> @UI.Layout_Menu_Login</a></li>
            <li include-roles="?"><a asp-page="/Login/ForgotPassword"><i class="fas fa-redo"></i> @UI.Layout_Menu_ResetPassword</a></li>
            <li include-roles="*"><a asp-page="/My/Index"><i class="fas fa-home"></i> @UI.Layout_Menu_Home</a></li>
            <li include-roles="*"><a asp-page="/My/News"><i class="fas fa-newspaper"></i> @UI.Layout_Menu_News</a></li>
            <li include-roles="*"><a asp-page="/My/Calendar" asp-route-year="" asp-route-month=""><i class="fas fa-calendar"></i> @UI.Layout_Menu_Calendar</a></li>
            <li include-roles="*"><a asp-page="/My/Settings/Index"><i class="fas fa-cog"></i> @UI.Layout_Menu_Settings</a></li>
            <li include-roles="@ApplicationRole.Administrator"><a asp-page="/Admin/Index"><i class="fas fa-cogs"></i> @UI.Layout_Menu_Administration</a></li>
        </ul>
    </nav>
    <main>
        <h1>@this.ViewBag.Title</h1>
        @RenderBody()
    </main>
    <footer>
        <a href="https://www.altairis.cz/"><img src="~/Content/Images/altairis.svg" alt="Logo Altairis" height="30" class="fl" /></a>
        Copyright &copy; <a href="https://www.rider.cz/">Michal A. Valášek</a> - <a href="https://www.altairis.cz/">Altairis</a>, 2020<br />
        Build <assembly-version display="BuildTime" /> | powered by <a href="https://dot.net/">.NET</a>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>