<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <title>@this.ViewBag.Title | @this.OptionsAccessor.Value.Design.ApplicationName</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css" integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="@this.OptionsAccessor.Value.Design.StylesheetUrl" asp-append-version="true" />
    <link rel="icon" href="/favicon.ico" asp-append-version="true" />
    <link rel="icon" href="/Content/Images/rep-icon.svg" type="image/svg+xml" asp-append-version="true" />
    <link rel="apple-touch-icon" href="/Content/Images/rep-icon-180.png" asp-append-version="true" />
    <link rel="manifest" href="/manifest.webmanifest" asp-append-version="true" />
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <vc:language-switch />
        <img src="@this.OptionsAccessor.Value.Design.HeaderImageUrl" alt="@this.OptionsAccessor.Value.Design.ApplicationName" asp-append-version="true" />
    </header>
    <nav>
        <input type="checkbox" id="mtoggler" hidden="hidden" />
        <label for="mtoggler" class="open" hidden="hidden"><span>&#x2630;</span></label>
        <label for="mtoggler" class="close" hidden="hidden"><span>&#x1F5D9;</span></label>
        <ul>
            <li include-roles="?"><a asp-page="/Login/Index"><i class="fa-solid fa-fw fa-key"></i> @UI.Layout_Menu_Login</a></li>
            <li include-roles="?"><a asp-page="/Login/ForgotPassword"><i class="fa-solid fa-fw fa-redo"></i> @UI.Layout_Menu_ResetPassword</a></li>
            <li include-roles="*"><a asp-page="/My/Index"><i class="fa-solid fa-fw fa-home"></i> @UI.Layout_Menu_Home</a></li>
            <li include-roles="*" visible="@this.OptionsAccessor.Value.Features.UseNews"><a asp-page="/My/News"><i class="fa-solid fa-fw fa-newspaper"></i> @UI.Layout_Menu_News</a></li>
            <li include-roles="*"><a asp-page="/My/Calendar" asp-route-year="" asp-route-month=""><i class="fa-solid fa-fw fa-calendar"></i> @UI.Layout_Menu_Calendar</a></li>
            <li include-roles="*" visible="@this.OptionsAccessor.Value.Features.UseMemberDirectory"><a asp-page="/My/Directory"><i class="fa-solid fa-fw fa-address-card"></i> @UI.Layout_Menu_Directory</a></li>
            <li include-roles="*" visible="@this.OptionsAccessor.Value.Features.UseJournal"><a asp-page="/My/Journal"><i class="fa-solid fa-fw fa-book"></i> @UI.Layout_Menu_Journal</a></li>
            <li include-roles="@ApplicationRole.Administrator"><a asp-page="/Admin/Index"><i class="fa-solid fa-fw fa-cogs"></i> @UI.Layout_Menu_Administration</a></li>
            <li include-roles="*"><a asp-page="/My/Settings/Index"><i class="fa-solid fa-fw fa-cog"></i> @UI.Layout_Menu_Settings</a></li>
            <li include-roles="*" visible="!(this.ViewBag.HideLoginStatus ?? false)"><a asp-page="/Login/Logout"><i class="fa fa-fw fa-sign-out-alt"></i> @UI.Layout_LoginStatus_SignOut</a></li>
        </ul>
    </nav>
    <main>
        <h1>@this.ViewBag.Title</h1>
        @RenderBody()
    </main>
    <footer>
        <a href="https://www.altairis.cz/"><img src="~/Content/Images/altairis.svg" alt="Logo Altairis" height="30" class="fl" asp-append-version="true" /></a>
        <a href="https://www.altair.blog/"><img src="~/Content/Images/altairblog.svg" alt="Logo altair.blog" height="30" class="fl" asp-append-version="true" /></a>
        <div id="copyright">
            Copyright &copy; <a href="https://www.rider.cz/">Michal A. Valášek</a> - <a href="https://www.altairis.cz/">Altairis</a>, 2020-2024<br />
            <a href="https://github.com/ridercz/ReP/">ReP</a> build <assembly-build-time></assembly-build-time> | powered by <a href="https://dot.net/">.NET</a>
        </div>
    </footer>
    <script type="text/javascript" src="https://unpkg.com/aspnet-client-validation@0.11.0/dist/aspnet-validation.min.js" integrity="sha384-ok8WgguZSGdK1XjlAFP7l1vSDofCA55EM/cC86lrcPaJcnb9KYnaHwQyyLXvbudA" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Content/Scripts/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>