<!DOCTYPE html>
@{
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;
}
<html lang="@currentCulture">
<head>
    <title>@this.ViewBag.Title | @this.OptionsAccessor.Value.Design.ApplicationName</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css" integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="@this.OptionsAccessor.Value.Design.StylesheetUrl" asp-append-version="true" />
    <link rel="icon" href="/favicon.ico" asp-append-version="true" />
    <link rel="icon" href="/Content/Images/rep-icon.svg" type="image/svg+xml" asp-append-version="true" />
    <link rel="apple-touch-icon" href="/Content/Images/rep-icon-180.png" asp-append-version="true" />
    <link rel="manifest" href="/manifest.webmanifest" asp-append-version="true" />
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <div class="lang">
            <a visible="@(!currentCulture.StartsWith("cs"))" asp-page="/SetLanguage" asp-route-culture="cs" asp-route-returnUrl="@this.Context.Request.Path" title="@UI.My_Settings_Index_Language_CS"><span class="fi fi-cz"></span></a>
            <a visible="@(!currentCulture.StartsWith("en"))" asp-page="/SetLanguage" asp-route-culture="en" asp-route-returnUrl="@this.Context.Request.Path" title="@UI.My_Settings_Index_Language_EN"><span class="fi fi-gb"></span></a>
        </div>
        <img src="@this.OptionsAccessor.Value.Design.HeaderImageUrl" alt="@this.OptionsAccessor.Value.Design.ApplicationName" asp-append-version="true" />
    </header>
    <nav>
        <input type="checkbox" id="mtoggler" hidden="hidden" />
        <label for="mtoggler" class="open" hidden="hidden"><span>&#x2630;</span></label>
        <label for="mtoggler" class="close" hidden="hidden"><span>&#x1F5D9;</span></label>
        <ul>
            <li include-roles="?"><a asp-page="/Login/Index"><i class="fas fa-fw fa-key"></i> @UI.Layout_Menu_Login</a></li>
            <li include-roles="?"><a asp-page="/Login/ForgotPassword"><i class="fas fa-fw fa-redo"></i> @UI.Layout_Menu_ResetPassword</a></li>
            <li include-roles="*"><a asp-page="/My/Index"><i class="fas fa-fw fa-home"></i> @UI.Layout_Menu_Home</a></li>
            <li include-roles="*" visible="@this.OptionsAccessor.Value.Features.UseNews"><a asp-page="/My/News"><i class="fas fa-fw fa-newspaper"></i> @UI.Layout_Menu_News</a></li>
            <li include-roles="*"><a asp-page="/My/Calendar" asp-route-year="" asp-route-month=""><i class="fas fa-fw fa-calendar"></i> @UI.Layout_Menu_Calendar</a></li>
            <li include-roles="*" visible="@this.OptionsAccessor.Value.Features.UseMemberDirectory"><a asp-page="/My/Directory"><i class="fas fa-fw fa-address-card"></i> @UI.Layout_Menu_Directory</a></li>
            <li include-roles="@ApplicationRole.Administrator"><a asp-page="/Admin/Index"><i class="fas fa-fw fa-cogs"></i> @UI.Layout_Menu_Administration</a></li>
            <li include-roles="*"><a asp-page="/My/Settings/Index"><i class="fas fa-fw fa-user"></i> @this.User.Identity.Name</a></li>
            <li include-roles="*" visible="!(this.ViewBag.HideLoginStatus ?? false)"><a asp-page="/Login/Logout"><i class="fa fa-fw fa-sign-out-alt"></i> @UI.Layout_LoginStatus_SignOut</a></li>
        </ul>
    </nav>
    <main>
        <h1>@this.ViewBag.Title</h1>
        @RenderBody()
    </main>
    <footer>
        <a href="https://www.altairis.cz/"><img src="~/Content/Images/altairis.svg" alt="Logo Altairis" height="30" class="fl" asp-append-version="true" /></a>
        <a href="https://www.altair.blog/"><img src="~/Content/Images/altairblog.svg" alt="Logo altair.blog" height="30" class="fl" asp-append-version="true" /></a>
        <div id="copyright">
            Copyright &copy; <a href="https://www.rider.cz/">Michal A. Valášek</a> - <a href="https://www.altairis.cz/">Altairis</a>, 2020-2023<br />
            <a href="https://github.com/ridercz/ReP/">ReP</a> build <assembly-version display="BuildTime" /> | powered by <a href="https://dot.net/">.NET</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.2.8/es6-promise.min.js" integrity="sha512-JMK7ImCd/9VxQM7FWvAT3njqo5iGKkWcOax6Bwzuq48xxFd7/jekKcgN+59ZRwBoEpZvv6Jkwh3fDGrBVWX5vA==" crossorigin="anonymous"></script>
    <script src="~/Content/Scripts/sitebundle.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>