@page
@model Altairis.FutLabIS.Web.Pages.My.ArchiveModel
@{ this.ViewBag.Title = UI.My_Index_Archive; }

<table class="grid">
    <thead>
        <tr>
            <th>@Display.ResourceId</th>
            <th>@Display.DateBegin</th>
            <th>@Display.DateEnd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations) {
            <tr>
                <th><i class="fas fa-calendar-check"></i> <a asp-page="Reservations" asp-route-resourceId="@item.ResourceId">@item.ResourceName</a></th>
                <td><time value="item.DateBegin"></time></td>
                <td><time value="item.DateEnd"></time></td>
            </tr>
        }
    </tbody>
</table>