@page
@model Altairis.FutLabIS.Web.Pages.My.IndexModel
@{ this.ViewBag.Title = UI.My_Index_Title; }
<h2>@UI.My_Index_Resources</h2>
@foreach (var item in this.Model.Resources) {
    <p>
        <i class="fas fa-cube fa-2x fa-pull-left"></i>
        <a asp-page="Reservations" asp-route-resourceId="@item.Id" class="strong">@item.Name</a><br />
        @item.Description
    </p>
}

<h2>@UI.My_Index_Reservations</h2>
<p visible="!Model.Reservations.Any()">@UI.My_Index_NoReservations</p>
<table class="grid">
    <thead>
        <tr>
            <th>@Display.ResourceId</th>
            <th>@Display.DateBegin</th>
            <th>@Display.DateEnd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations) {
            <tr>
                <th><a asp-page="Reservations" asp-route-resourceId="@item.ResourceId">@item.ResourceName</a></th>
                <td><time value="item.DateBegin"></time></td>
                <td><time value="item.DateEnd"></time></td>
            </tr>
        }
    </tbody>
</table>