@page
@model Altairis.ReP.Web.Pages.Admin.Reservations.IndexModel
@{ this.ViewBag.Title = UI.Admin_Reservations_Index_Title; }

<table class="grid">
    <thead>
        <tr>
            <th>@Display.UserName</th>
            <th>@Display.ResourceId</th>
            <th>@Display.DateBegin</th>
            <th>@Display.DateEnd</th>
            <th>@Display.Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations) {
        <tr>
            <th><i class="fas fa-user"></i> <a asp-page="Edit" asp-route-reservationId="@item.ReservationId">@item.UserName</a></th>
            <th><i class="fas fa-cube"></i> @item.ResourceName</th>
            <td><time value="@item.DateBegin"></time></td>
            <td><time value="@item.DateEnd"></time></td>
            <td>
                <i class="fas fa-wrench" visible="@item.System" title="@Display.Comment"></i>
                @item.Comment
            </td>
        </tr>
        }
    </tbody>
</table>

<modal-box id="deleted" message="@UI.My_Index_Msg_ReservationDeleted" />
<modal-box id="saved" message="@UI.Admin_Reservations_Edit_Msg_Saved" />