@page "/Admin/Resources/{resourceId:int:min(1)}/Tasks/{taskId:int:min(1)}"
@model Altairis.ReP.Web.Pages.Admin.Resources.Tasks.EditModel
@{
    this.ViewBag.Title = string.Format(UI.Admin_Resources_Tasks_Edit_Title, this.Model.ResourceName);
}
<form method="post">
    @Html.EditorFor(m => this.Model.Input)
    <footer>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="@UI._Submit" />
        <a asp-page="Index" class="button secondary">@UI._Cancel</a>
        <input type="submit" class="tertiary" value="@UI._Delete" asp-page-handler="delete" confirm-message="@UI.Admin_Resouces_Task_Edit_DeleteConfirm" />
    </footer>
</form>