@page "{year:int:range(2020,2100)?}/{month:int:range(1,12)?}"
@model Altairis.ReP.Web.Pages.My.CalendarModel
@{ this.ViewBag.Title = string.Format(UI.My_Calendar_Title, Model.DateBegin); }

<p>
    <a asp-page="Index" asp-fragment="upcoming" class="button">@UI.My_Calendar_Manage</a>
    <span class="fr">
        <a asp-route-year="@Model.DatePrev.Year" asp-route-month="@Model.DatePrev.Month" class="button secondary" style="min-width:3ex" title="@Model.DatePrev.ToString("MMMM")"><i class="fas fa-caret-left"></i></a>
        <a asp-route-year="@Model.DateNext.Year" asp-route-month="@Model.DateNext.Month" class="button secondary" style="min-width:3ex" title="@Model.DateNext.ToString("MMMM")"><i class="fas fa-caret-right"></i></a>
    </span>
</p>

<calendar class="calendar"
          date-begin="this.Model.DateBegin"
          date-end="this.Model.DateEnd"
          day-name-style="Full"
          events="this.Model.Reservations"
          general-date-format="@UI.Calendar_GeneralDateFormat"
          new-month-date-format="@UI.Calendar_NewMonthDateFormat"></calendar>

<p>
    @foreach (var item in Model.Resources) {
        <span class="tag" style="@item.GetStyle()">@item.Name</span>
    }
</p>