@page "{resourceId:int:min(1)}/{handler?}/{attachmentId:int:min(1)?}"
@model Altairis.ReP.Web.Pages.My.ReservationsModel
@{
    this.ViewBag.Title = Model.Resource!.Name;
}
<p>@Model.Resource.Description</p>

<p>
    <a visible="Model.CanDoReservation" href="#new" class="button">@UI.My_Reservations_New</a>
    <a asp-route="ResourceIcs" asp-route-rak="@this.Model.ResourceAuthorizationKey" class="button">@UI.My_Calendar_Ics</a>
</p>

<div id="new" class="modal" visible="Model.CanDoReservation">
    <form method="post">
        <header>@UI.My_Reservations_NewTitle</header>
        <p>
            <label asp-for="Input.DateBegin"></label><br />
            <input asp-for="Input.DateBegin" />
        </p>
        <p>
            <label asp-for="Input.DateEnd"></label><br />
            <input asp-for="Input.DateEnd" />
        </p>
        <p visible="this.User.IsPrivilegedUser()">
            <input asp-for="Input.System" /> <label asp-for="Input.System"></label><br />
            <input asp-for="Input.Comment" />
        </p>
        <div asp-validation-summary="All"></div>
        <footer>
            <input type="submit" value="@UI._Submit" />
            <a href="#" class="button secondary">@UI._Cancel</a>
        </footer>
    </form>
</div>

<calendar class="calendar"
          date-begin="this.Model.CalendarDateBegin"
          date-end="this.Model.CalendarDateEnd"
          day-name-style="Full"
          events="this.Model.Reservations"
          general-date-format="d."
          new-month-date-format="d. MMMM"></calendar>

@foreach (var item in this.Model.CalendarEntries) {
    <div id="event_detail_@item.Id" class="modal">
        <article class="l">
            <header>@item.Date.ToLongDateString()</header>
            <p class="strong">@item.Title</p>
            <markdown text="@item.Comment"></markdown>
            <footer>
                <a href="#" class="button">@UI._OK</a>
                <a asp-page="Calendar" asp-page-handler="delete" asp-route-entryId="@item.Id" class="button tertiary" visible="this.Model.CanManageEntries">@UI._Delete</a>
            </footer>
        </article>
    </div>
}

<markdown text="@Model.Resource.Instructions"></markdown>

@if (this.Model.Attachments.Any()) {
    <h2>@UI.My_Reservations_Attachments</h2>
    <ul class="fa-ul">
        @foreach (var item in this.Model.Attachments) {
            <li>
                <span class="fa-li"><i class="fa-solid fa-paperclip"></i></span>
                <a class="strong" asp-page-handler="download" asp-route-attachmentId="@item.Id">@item.FileName</a>
                (<time value="@item.DateCreated"></time>; <file-size value="@item.FileSize"></file-size>)
            </li>
        }
    </ul>
}
<modal-box id="created" message="@UI.My_Reservations_Msg_Created" />