@page "/My/Resource/{resourceId:int:min(1)}/Maintenance"
@model Altairis.ReP.Web.Pages.My.ResourceMaintenanceModel
@{
    this.ViewBag.Title = string.Format(UI.Admin_Resources_Tasks_Title, this.Model.ResourceName);
}
<ul>
    @foreach (var item in this.Model.MaintenanceTasks) {
        <li>
            <a asp-page="ResourceMaintenanceDo" asp-route-resourceId="@Model.ResourceId" asp-route-taskId="@item.Id" class="strong">@item.Name</a>
            <div>@item.Interval</div>
        </li>
    }
</ul>

<h2 visible="this.Model.MaintenanceRecords.Any()">@UI.My_ResourceMaintenance_LatestTasks</h2>
<table class="grid" visible="this.Model.MaintenanceRecords.Any()">
    <thead>
        <tr>
            <th>@Display.Date</th>
            <th>@Display.Task</th>
            <th>@Display.User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model.MaintenanceRecords) {
            <tr>
                <td><time value="@item.Date"></time></td>
                <td>@item.Name</td>
                <td>@item.User</td>
                <td class="buttons">
                    <a visible="item.CanBeDeleted"
                       asp-page="ResourceMaintenance" asp-page-handler="Delete"
                       asp-route-resourceId="@Model.ResourceId" asp-route-recordId="@item.Id"
                       data-convert-to-post="true" data-post-confirm="@UI.My_ResourceMaintenance_DeleteConfirm"><i class="fa-solid fa-trash" title="@UI._Delete"></i></a>
                </td>
            </tr>
        }
</table>
<form method="post">
    @* This form is here just because we need to get CSRF token from somewhere *@
</form>