@page
@model Altairis.ReP.Web.Pages.Admin.Resources.IndexModel
@{
    this.ViewBag.Title = UI.Admin_Resources_Index_Title;
}
<table class="grid">
    <thead>
        <tr>
            <th>@Display.Name</th>
            <th>&nbsp;</th>
            <th>@Display.Description</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr class="new">
            <td colspan="4">
                <i class="fa-solid fa-cube"></i> <a asp-page="Create">@UI._Create</a>
            </td>
        </tr>
        @foreach (var item in this.Model.Resources) {
            <tr>
                <th>
                    <i class="fa-solid fa-cube"></i> <a asp-page="Edit" asp-route-resourceId="@item.Id">@item.Name</a>
                </th>
                <td>
                    <span class="tag" style="@item.GetStyle()">XXXXXX</span>
                </td>
                <td trim-length="50">@item.Description</td>
                <td class="buttons">
                    <a asp-page="Attachments" asp-route-resourceId="@item.Id" visible="@this.OptionsAccessor.Value.Features.UseAttachments" title="@UI.My_Reservations_Attachments"><i class="fa-solid fa-paperclip"></i></a>
                    <a asp-page="Tasks/Index" asp-route-resourceId="@item.Id" title="@UI.Admin_Resources_Index_MaintenanceTasks"><i class="fa-solid fa-wrench"></i></a>
                    <a asp-page="Tasks/Stats" asp-route-resourceId="@item.Id" title="@UI.Admin_Resources_Index_MaintenanceStatistics"><i class="fa-solid fa-chart-pie"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<modal-box id="created" message="@UI.Admin_Resources_Index_Msg_Created" />
<modal-box id="saved" message="@UI.Admin_Resources_Index_Msg_Saved" />
<modal-box id="deleted" message="@UI.Admin_Resources_Index_Msg_Deleted" />