@page
@model Altairis.FutLabIS.Web.Pages.Admin.IndexModel
@{ this.ViewBag.Title = UI.Admin_Index_Title; }

<ul class="tasklist">
    <li><a class="button" asp-page="Users/Index"><i class="fas fa-fw fa-users"></i> @UI.Admin_Index_ManageUsers</a></li>
    <li><a class="button" asp-page="Resources/Index"><i class="fas fa-fw fa-cubes"></i> @UI.Admin_Index_ManageResources</a></li>
    <li><a class="button" asp-page="Reservations/Index"><i class="fas fa-fw fa-calendar-check"></i> @UI.Admin_Index_ManageReservations</a></li>
    <li><a class="button" asp-page="OpeningHours"><i class="fas fa-fw fa-clock"></i> @UI.Admin_Index_ManageOpeningHours</a></li>
    <li><a class="button" asp-page="NewsMessages/Index"><i class="fas fa-fw fa-newspaper"></i> @UI.Admin_Index_ManageNews</a></li>
</ul>