@page
@model Altairis.FutLabIS.Web.Pages.Admin.ReservationsModel
@{ this.ViewBag.Title = UI.Admin_Reservations_Title; }

<table class="grid">
    <thead>
        <tr>
            <th>@Display.UserName</th>
            <th>@Display.ResourceId</th>
            <th>@Display.DateBegin</th>
            <th>@Display.DateEnd</th>
            <th>@Display.Comment</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations) {
        <tr>
            <th><i class="fas fa-user"></i> @item.UserName</th>
            <th><i class="fas fa-cube"></i> @item.ResourceName</th>
            <td><time value="@item.DateBegin"></time></td>
            <td><time value="@item.DateEnd"></time></td>
            <td>
                <i class="fas fa-wrench" visible="@item.System" title="@Display.Comment"></i>
                @item.Comment
            </td>
            <td class="buttons"><a asp-page-handler="Delete" asp-route-reservationId="@item.ReservationId" title="@UI._Delete" confirm-message="@UI.My_Reservations_DeleteConfirm"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        }
    </tbody>
</table>
<modal-box id="reservationdeleted" message="@UI.My_Index_Msg_ReservationDeleted" />