@using System.Globalization;
@using Altairis.ReP.Web.Components;

@model IEnumerable<SupportedLanguageInfo>

<div class="lang">
    @foreach (var item in this.Model) {
        <a asp-route="@LanguageSwitchViewComponent.SetCultureCookieHandlerRouteName"
           asp-route-culture="@item.RequestCultureName"
           asp-route-returnUrl="@this.Context.Request.Path" 
           title="@item.LanguageName" 
           class="@(item.IsCurrent ? "current" : string.Empty)"><span class="fi fi-@item.FlagCode"></span></a>
    }
</div>
