@page
@model Altairis.ReP.Web.Pages.Admin.DirectoryEntries.IndexModel
@{
    this.ViewBag.Title = UI.Admin_DirectoryEntries_Title;
}

<table class="grid">
    <thead>
        <tr>
            <th>@Display.DisplayName</th>
            <th>@Display.Email</th>
            <th>@Display.PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr class="new">
            <td colspan="3">
                <i class="fa-solid fa-address-card"></i>
                <a asp-page="Create">@UI._Create</a>
            </td>
        </tr>
        @foreach (var item in this.Model.DirectoryEntries) {
            <tr>
                <th>
                    <i class="fa-solid fa-address-card"></i>
                    <a asp-page="Edit" asp-route-directoryEntryId="@item.Id">@item.DisplayName</a>
                </th>
                <td><a href="mailto:@item.Email">@item.Email</a></td>
                <td><a href="tel:@item.PhoneNumber">@item.PhoneNumber</a></td>
            </tr>
        }
    </tbody>
</table>

<modal-box id="created" message="@UI.Admin_DirectoryEntries_Index_Msg_Created" />
<modal-box id="saved" message="@UI.Admin_DirectoryEntries_Index_Msg_Saved" />
<modal-box id="deleted" message="@UI.Admin_DirectoryEntries_Index_Msg_Deleted" />