@page
@model Altairis.ReP.Web.Pages.Admin.Users.IndexModel
@{ this.ViewBag.Title = UI.Admin_Users_Index_Title; }
<table class="grid">
    <thead>
        <tr>
            <th scope="col">@Display.UserName</th>
            <th scope="col">@Display.DisplayName</th>
            <th scope="col">@Display.Email</th>
            <th scope="col">@Display.PhoneNumber</th>
            <th scope="col" class="r">&Sigma;</th>
            <th scope="col" class="r">@Display.Language</th>
        </tr>
    </thead>
    <tbody>
        <tr class="new">
            <td colspan="5">
                <i class="fas fa-fw fa-user-plus"></i>
                <a asp-page="Create">@UI._Create</a>
            </td>
        </tr>
        @foreach (var item in this.Model.Users) {
            var flagClass = "fi fi-" + item.Language[^2..].ToLowerInvariant();
            <tr>
                <th scope="row">
                    @if (!item.Enabled) {
                        <i class="fas fa-fw fa-user-times" title="@UI.Admin_Users_Index_Disabled"></i>
                    } else if (item.EmailConfirmed) {
                        <i class="fas fa-fw fa-user-check" title="@UI.Admin_Users_Index_Enabled"></i>
                    } else {
                        <i class="fas fa-fw fa-user-clock" title="@UI.Admin_Users_Index_Waiting"></i>
                    }
                    <a asp-page="Edit" asp-route-userId="@item.Id">@item.UserName</a>
                </th>
                <td>@item.DisplayName</td>
                <td><a href="mailto:@item.Email">@item.Email</a></td>
                <td>@item.PhoneNumber</td>
                <td class="r">@item.Reservations</td>
                <td class="r"><span class="@flagClass"></span></td>
            </tr>
        }
    </tbody>
</table>

<modal-box id="created" message="@UI.Admin_User_Index_Msg_Created" />
<modal-box id="saved" message="@UI.Admin_User_Index_Msg_Saved" />
<modal-box id="deleted" message="@UI.Admin_User_Index_Msg_Deleted" />
