@page "{reservationId:int:min(1)}"
@model Altairis.FutLabIS.Web.Pages.Admin.Reservations.EditModel
@{ this.ViewBag.Title = string.Format(UI.Admin_Reservations_Edit_Title, Model.ResourceName, Model.UserName); }
<form method="post">
    @Html.EditorFor(m => this.Model.Input)
    <footer>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="@UI._Submit" />
        <a asp-page="Index" class="button secondary">@UI._Cancel</a>
        <input type="submit" class="tertiary" value="@UI._Delete" asp-page-handler="delete" confirm-message="@UI.My_Reservations_DeleteConfirm" />
    </footer>
</form>