@page
@model Altairis.ReP.Web.Pages.Login.IndexModel
@{
    this.ViewBag.Title = UI.Login_Index_Title;
    this.ViewBag.HideLoginStatus = true;
}
<ul>
    <li><a asp-page="ForgotPassword">@UI.Login_ForgotPassword_Title</a></li>
</ul>
<form method="post">
    @Html.EditorFor(m => this.Model.Input)
    <footer>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="@UI._Submit" />
    </footer>
</form>
<modal-box id="logout" message="@UI.Login_Index_Msg_Logout" />
<modal-box id="reset" message="@UI.Login_Index_Msg_Reset" />
<modal-box id="sent" message="@UI.Login_Index_Msg_Sent" />
<modal-box id="afail" message="@UI.Login_Index_Msg_AFail" />
<modal-box id="adone" message="@UI.Login_Index_Msg_ADone" />