@{
    this.Layout = "_Layout.cshtml";
    var attrs = new {
        onfocus = "this.type = 'text'",
        onblur = "this.type = 'password'",
    };
    var passwordId = Html.GenerateIdFromName(ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty));
    var checkboxId = "Hide_" + passwordId;
    var jsCode = $"document.getElementById('{passwordId}').type = this.checked ? 'password' : 'text';";
}
@Html.Password("", ViewData.TemplateInfo.FormattedModelValue)<br />
<input id="@checkboxId" type="checkbox" onclick="@jsCode" checked="checked"  />
<label for="@checkboxId">@EditorTemplates.Password_HidePassword</label>