@inject Microsoft.Extensions.Options.IOptions<AppSettings> OptionsAccessor
@{
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;
}
<!DOCTYPE html>
<html lang="@currentCulture">
<head>
    <title>@this.ViewBag.Title | @this.OptionsAccessor.Value.ApplicationName</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/Styles/site.min.css" asp-append-version="true" />
    <link rel="icon" href="/favicon.ico" asp-append-version="true" />
    <link rel="icon" href="/Content/Images/rep-icon.svg" type="image/svg+xml" asp-append-version="true" />
    <link rel="apple-touch-icon" href="/Content/Images/rep-icon-180.png" asp-append-version="true" />
    <link rel="manifest" href="/manifest.webmanifest" asp-append-version="true" />
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <ul class="info fa-ul">
            <li include-roles="?" visible="!(this.ViewBag.HideLoginStatus ?? false)">
                <span class="fa-li"><i class="fa fa-sign-in-alt"></i></span>
                <a asp-page="/Login/Index">@UI.Layout_LoginStatus_SignIn</a>
            </li>
            <li include-roles="*" visible="!(this.ViewBag.HideLoginStatus ?? false)">
                <span class="fa-li"><i class="fa fa-user"></i></span>
                <a asp-page="/My/Settings/Index">@this.User.Identity.Name</a>
            </li>
            <li>
                <span class="fa-li"><i class="fa fa-globe"></i></span>
                <a visible="@currentCulture.Equals("en-US")" asp-page="/SetLanguage" asp-route-culture="cs" asp-route-returnUrl="@this.Context.Request.Path">@UI.My_Settings_Index_Language_CS</a>
                <a visible="@currentCulture.Equals("cs-CZ")" asp-page="/SetLanguage" asp-route-culture="en" asp-route-returnUrl="@this.Context.Request.Path">@UI.My_Settings_Index_Language_EN</a>
            </li>
            <li include-roles="*" visible="!(this.ViewBag.HideLoginStatus ?? false)">
                <span class="fa-li"><i class="fa fa-sign-out-alt"></i></span>
                <a asp-page="/Login/Logout">@UI.Layout_LoginStatus_SignOut</a>
            </li>
        </ul>
        <img src="~/Content/Images/rep-logo.svg" height="75" alt="@this.OptionsAccessor.Value.ApplicationName" asp-append-version="true" />
    </header>
    <nav>
        <input type="checkbox" id="mtoggler" hidden="hidden" />
        <label for="mtoggler" class="open" hidden="hidden"><span>&#x2630;</span></label>
        <label for="mtoggler" class="close" hidden="hidden"><span>&#x1F5D9;</span></label>
        <ul>
            <li include-roles="?"><a asp-page="/Login/Index"><i class="fas fa-key"></i> @UI.Layout_Menu_Login</a></li>
            <li include-roles="?"><a asp-page="/Login/ForgotPassword"><i class="fas fa-redo"></i> @UI.Layout_Menu_ResetPassword</a></li>
            <li include-roles="*"><a asp-page="/My/Index"><i class="fas fa-home"></i> @UI.Layout_Menu_Home</a></li>
            <li include-roles="*"><a asp-page="/My/News"><i class="fas fa-newspaper"></i> @UI.Layout_Menu_News</a></li>
            <li include-roles="*"><a asp-page="/My/Calendar" asp-route-year="" asp-route-month=""><i class="fas fa-calendar"></i> @UI.Layout_Menu_Calendar</a></li>
            <li include-roles="*"><a asp-page="/My/Settings/Index"><i class="fas fa-cog"></i> @UI.Layout_Menu_Settings</a></li>
            <li include-roles="@ApplicationRole.Administrator"><a asp-page="/Admin/Index"><i class="fas fa-cogs"></i> @UI.Layout_Menu_Administration</a></li>
        </ul>
    </nav>
    <main>
        <h1>@this.ViewBag.Title</h1>
        @RenderBody()
    </main>
    <footer>
        <a href="https://www.altairis.cz/"><img src="~/Content/Images/altairis.svg" alt="Logo Altairis" height="30" class="fl" asp-append-version="true" /></a>
        <a href="https://www.altair.blog/"><img src="~/Content/Images/altairblog.svg" alt="Logo altair.blog" height="30" class="fl" asp-append-version="true" /></a>
        Copyright &copy; <a href="https://www.rider.cz/">Michal A. Valášek</a> - <a href="https://www.altairis.cz/">Altairis</a>, 2020-2021<br />
        Build <assembly-version display="BuildTime" /> | powered by <a href="https://dot.net/">.NET</a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.2.8/es6-promise.min.js" integrity="sha512-JMK7ImCd/9VxQM7FWvAT3njqo5iGKkWcOax6Bwzuq48xxFd7/jekKcgN+59ZRwBoEpZvv6Jkwh3fDGrBVWX5vA==" crossorigin="anonymous"></script>
    <script src="~/Content/Scripts/sitebundle.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>