@page "{newsMessageId:int:min(1)}"
@model Altairis.ReP.Web.Pages.Admin.NewsMessages.EditModel
@{ this.ViewBag.Title = UI.Admin_NewsMessages_Edit_Title; }
<form method="post">
    <p>
        <label>@Display.Title:</label><br />
        <input autofocus="autofocus" id="news-massage-title" asp-for="@Model.Input.Title" class="form-control ">
    </p>
    <p>
        <label>@Display.Text:</label><br />
        <textarea rows="50" class="form-control" asp-for="@Model.Input.Text" id="news-massage-text"></textarea>
    </p>
    <footer>
        <div asp-validation-summary="All"></div>
        <input type="submit" value="@UI._Submit" />
        <a asp-page="Index" class="button secondary">@UI._Cancel</a>
        <input type="submit" class="tertiary" value="@UI._Delete" asp-page-handler="delete" confirm-message="@UI.Admin_NewsMessages_Edit_DeleteConfirm" />
    </footer>
</form>

@section head   {
    <link rel="stylesheet" href="~/Content/Styles/mditor.min.css" />
}

    @section scripts {
    <script src="~/Content/Scripts/mditor.min.js" asp-append-version="true"></script>

   <script>
		var textarea = document.getElementById('news-massage-text');
		var mditor = Mditor.fromTextarea(textarea);
		
	</script>
 }